{% include head-scripts.html %}

    <div class="jumbotron jumbotron-fluid hero-artroscopia text-light mb-5">
      <div class="container text-center">
        <p class="lead">Especialista en</p>
        <h1 class="display-4">Artroscopia y Traumatologia Deportiva</h1>
      </div>
    </div>

    <section class="container mb-5">
      <div class="row">
        <div class="col-md-6">
          <h2 class="my-3">Dr. Sammy Orozco</h2>
          <p class="spaced text-justify mb-5">
            Especialista en <strong>Cirugía Ortopédica y Traumatología</strong>. Con Sub especialidad en cirugía Artroscópica. Miembro de la <strong>sociedad colombiana de cirugía de ortopedia y traumatología</strong> (SCCOT), <strong>sociedad colombiana de artroscopia y traumatología deportiva</strong> (SOCARTD), <strong>asociación colombiana de cirugía artroscópica</strong> (ACCART), <strong>artroscopy association of north america&nbsp;</strong>(AANA), <strong>sociedad latinoamericana de artroscopia, rodilla y deporte</strong> (SLARD), <strong>International Society of Arthroscopy, Knee Surgery and Orthopaedic Sports Medicine</strong> (ISAKOS).
          </p>
          <h2 class="my-3">​Formación</h2>
          <p class="spaced text-justify">
            ​Medicina y cirugía (Universidad del Cauca)<br />
            Especialista Cirugía Ortopédica y Traumatología (Hospital de Ortopedia y Traumatología Magdalena de las Salinas)<br />
            Sub Especialidad en Cirugía Artroscópica (Instituto Mexicano del Seguro Social – Universidad Nacional Autónoma de México UNAM)
          </p>
        </div>
        <div class="col-md-6">
          <figure class="figure">
            <div class="img-container">
              <img src="/assets/sammy2.jpg" class="img-fluid rounded border border-info" alt="Dr. Sammy Orozco" />
              <div class="overlay">
                <div class="overlay-text text-light">
                  <h2>Dr. Sammy Orozco</h2>
                  <p>
                    <strong>Teléfonos.</strong>
                    <a href="tel:57 (2) 487 8089">57 (2) 487 8089</a> / <a href="tel:513 64 56">513 64 56</a>
                    <p><a href="mailto:consultoriomedico809@hotmail.com">consultoriomedico809@hotmail.com</a></p>
                  </p>
                </div>
              </div>
            </div>
            <figcaption class="figure-caption">Dr. Sammy Orozco</figcaption>
          </figure>
        </div>
      </div>
    </section>

    <section class="container">
      <div class="row">
        <div class="col-md-4 text-center mb-5">
          <a href="/artroscopia">
            <img src="/assets/artroscopia.jpg" class="border border-info img-fluid mb-3" alt="Artroscopia">
            <button class="btn btn-success btn-lg">Artroscopia</button>
          </a>
        </div>
        <div class="col-md-4 text-center mb-5">
          <a href="/medicina-deportiva">
            <img src="/assets/medicina.jpg" class="border border-info img-fluid mb-3" alt="Medicina Deportiva">
            <button class="btn btn-success btn-lg">Medicina Deportiva</button>
          </a>
        </div>
        <div class="col-md-4 text-center mb-5">
          <a href="/tratamientos-biologicos">
            <img src="/assets/7509biologicos.jpg" class="border border-info img-fluid mb-3" alt="Tratamientos Biológicos">
            <button class="btn btn-success btn-lg">Tratamientos Biológicos</button>
          </a>
        </div>
      </div>
    </section>

    <div class="jumbotron jumbotron-fluid text-light solicita mb-5">
      <div class="container text-center">
        <h1 class="display-4 mb-5">Solicita tu cita ahora mismo</h1>
        <button type="button" class="btn btn-warning btn-lg"><a href="mailto:Consultoriomedico809@hotmail.com">Cita online</a></button>
      </div>
    </div>

    <section class="container mb-5">
      <div class="row justify-content-around">
        <img src="/assets/sccot.jpg" class="img-fluid col-xs-2" />
        <img src="/assets/accart.jpg" class="img-fluid col-xs-2" />
        <img src="/assets/aana.gif" class="img-fluid col-xs-2" />
        <img src="/assets/slard.gif" class="img-fluid col-xs-2" />
        <img src="/assets/isakos.gif" class="img-fluid col-xs-2" />
      </div>
    </section>

    <section class="container mb-5" id="contact">
      <h2>Contacto</h2>
          <div class="card text-white bg-info border-0">
            <div class="card-header bg-white ">
              <img class="img-fluid" src="/assets/farallones.png" />
            </div>
            <div class="card-body">

              <h3>Centro Médico Clínica Farallones</h3>
              <p>Calle 9c # 50 - 25</p>
              <h5>Consultorio 809</h5>
              <p><a href="mailto:consultoriomedico809@hotmail.com">consultoriomedico809@hotmail.com</a></p>
              <p><strong>Teléfonos.</strong> <a href="tel:57 (2) 487 8089">57 (2) 487 8089</a> / <a href="tel:513 64 56">513 64 56</a></p>

              <hr />

              <h5 class="card-title">Horario de consulta</h5>
              <p class="card-text">Lunes a Viernes: 8am - 12pm y 2pm - 6pm
              </p>

            </div>
          </div>
    </section>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.753887703216!2d-76.54180428524194!3d3.4100740975178354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a6ae63805b6f%3A0x393ee0baff430b0f!2sLos%20Farallones%20Children&#39;s%20and%20Maternity%20Clinic!5e0!3m2!1sen!2sau!4v1587560303928!5m2!1sen!2sau" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

{% include footer-scripts.html %}
